<li class="nav-item dropdown mr-lg-2">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departments</a>
    <div class="dropdown-menu elegant-color-dark" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item text-white" href="{% url 'departments' %}">All departments</a>
        <div class="dropdown-divider m-0"></div>
        {% for department in departments %}
        <a class="dropdown-item text-white" href="{% url 'department' department.slug %}">{{ department.name }}</a>
        {% endfor %}
    </div>
</li>