{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit User
{% endblock %}

{% block content %}
<div class="container-md p-3">
    {% if user.is_technician %}
        <div class="jumbotron pb-2 jumbotron-fluid">
            <div class="container">
                <h2 class="h2 text-dark text-center">Manage User</h2>
                <div class="row">
                    <div class="col-6">
                        <p class="lead">{{ account.first_name }} {{ account.last_name }}</p>
                    </div>
                    <div class="col-6">
                        <p class="lead text-right">ID: {{ account.id }}</p>
                    </div>
                </div>
                <hr class="my-2">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-md btn-dark" value="Save">
                </form>
            </div>
        </div>
    {% else %}
       <div class="alert alert-danger text-center" role="alert">
            You're not allowed in here. Go back to the 
            <a href="{% url 'index' %}">home page</a>
        </div>
    {% endif %}
</div>
{% endblock %}