{% extends 'base.html' %}
{% block title %}
{{ view.users_type|title }}
{% endblock %}
{% block content %}
    <div class="container-md p-3">
        {% if user.is_technician %}
            {% if members|length == 0 or members|length == 1 and members|first == user %}
                {% if 'search' in request.get_full_path %}
                    <form class="form-inline flex-row-reverse" method="GET">
                        <button class="btn btn-success btn-md mx-3" type="submit">Search</button>
                        <input class="form-control" type="search" name="search"> 
                    </form>
                    <div class="alert alert-warning text-center" role="alert">There are no users.</div>
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">There are no users.</div>
                {% endif %}
            {% else %}
                <form class="form-inline flex-row-reverse" method="GET">
                    <button class="btn btn-success btn-md mx-3" type="submit">Search</button>
                    <input class="form-control" type="search" name="search"> 
                </form>
                <table class="table table-bordered table-dark table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            {% if not member == user %}
                                <tr>
                                    <th scope="row" class="align-middle">{{ member.id }}</th>
                                    <td class="align-middle">{{ member.first_name }}</td>
                                    <td class="align-middle">{{ member.last_name }}</td>
                                    <td class="d-flex flex-row-reverse align-middle">
                                        {% url 'pending_users' as pending_users %}
                                        {% if request.path == pending_users %}
                                            <a href="{% url 'approve_student' member.id %}" class="btn btn-success btn-md mx-3">Approve</a>
                                        {% endif %}
                                        <a href="{% url 'edit_user' member.id %}" class="btn btn-secondary btn-md mx-3">Manage</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-white bg-dark mx-1" href="?page=1" tabindex="-1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-white bg-dark mx-1" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-white bg-dark mx-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link text-white bg-dark mx-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            <div class="alert alert-danger text-center" role="alert">
                You're not allowed in here. Go back to the 
                <a href="{% url 'index' %}">home page</a>
            </div>
        {% endif %}
    </div>
{% endblock %}