{% extends 'base.html' %}
{% block title %}
Delete Course
{% endblock %}

{% block content %}
<div class="container-md my-3">
    {% if user.is_technician %}
        <form method="POST">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure, you want to delete this course?
            </div>
            <button class="btn btn-md btn-dark" type='submit'>Yes</button>
            <a class="btn btn-md btn-dark" href="{% url 'course' course.slug %}">No</a>
        </form>
    {% else %}
       <div class="alert alert-danger text-center" role="alert">
            You're not allowed in here. Go back to the 
            <a href="{% url 'index' %}">home page</a>
        </div>
    {% endif %}
</div>
{% endblock %}